h1 {
     font-size: 40px;
     margin-bottom: 40px;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 .text-box {
     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;
 }

 
 textarea {
     width: 100%;
     max-width: 400px;
     height: 200px;
     padding: 10px;
     font-size: 16px;
     margin-bottom: 10px;   

 }

 .character-count{
    padding: 0;
    margin: 0;
    color: grey;
    font-size: smaller;
 }